body{
    background-color:purple;
}
h1{
    text-decoration:underline;
    text-shadow:2px 2px #4022e2;
}
span{
    color:gold;
    text-decoration:bold ;
}
aside{
    color:white;
}
main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
div{
    float:left;
}
#time{
    float:right;
    color:red;
    font-size:40px;
    text-decoration:underline black;
    text-shadow:2px 2px black;
}
#title{
    text-align: center;
     font-size:40px;
     text-decoration:underline;
     text-shadow:2px 2px #4022e2;
}

#question{
    text-align: center;
   /* display: inline-block; */
    font-size:22px;
    color:goldenrod;
}
form{
    text-align:center;
    text-shadow:2px 2px purple;
}
label{
    font-size:24px;
}
#G_Over{
    text-align:center;
    background-color:gold;
    font-size: 80px;
}
#fPoints{
    font-size:50px;
    background-color:gold;
    color:purple;
    font-weight: bold;
    text-decoration: underline overline red;
    border: 10px solid black;
    padding:10px;
}
#lose{
    background-color:darkred;
    color:yellow;
    float:left;
    font-size:40px;
}
#save{
    padding-top:80px;
    border:solid black;
    background-color:white;
    text-align: center;

}

h3{
    color:indigo;
    font-weight: bold;
    text-decoration: underline;
}