body{
    background-color:purple;
}
h1{
    text-decoration:underline;
    text-shadow:2px 2px #4022e2;
}
span{
    color:gold;
    text-decoration:bold ;
}
aside{
    color:white;
}
main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
div{
    float:left;
}
#time{
    float:right;
    color:red;
    font-size:40px;
    text-decoration:underline black;
    text-shadow:2px 2px black;
}
#title{
    text-align: center;
     font-size:40px;
     text-decoration:underline;
     text-shadow:2px 2px #4022e2;
}

#question{
    text-align: center;
   /* display: inline-block; */
    font-size:22px;
    color:goldenrod;
}
form{
    text-align:center;
    text-shadow:2px 2px purple;
}
label{
    font-size:24px;
}
#G_Over{
    text-align:center;
    background-color:gold;
    font-size: 80px;
    border: 10px solid black;
}
#fPoints{
    font-size:50px;
    background-color:gold;
    color:purple;
    font-weight: bold;
    text-decoration: underline overline red;
    border: 10px solid black;
    padding:10px;
}
#lose{
    background-color:darkred;
    color:yellow;
    float:left;
    font-size:40px;
}
#save{
    padding-top:80px;
    border:solid black;
    background-color:purple;
    text-align: center;
    font-weight: bolder;

}

h3{
    color:goldenrod;
    font-weight: bolder;
    text-decoration: underline;
}


footer{
 
 float:none;
  }
  
   #outer_footer{
    position:sticky;
    bottom:0;
    text-align:right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style:solid;
    border-width:2px;
    border-color: rgb(23, 2, 37);
    padding:2px 2px 0px 2px;
  color:black;
  /* added opacity to background-color style */
  background-color:rgb(156, 7, 156);
  float:none;
  
  }
  
  .footerRow {
    margin-right:0px;
    float:none;
  }
  
  
  
  #texting, #image{
  color:black;
    /*text-align:center; */
    /* background-color:rgb(130, 132, 175);*/
    /* background: linear-gradient(45deg,black,indigo, #053ea8, #7a00ff);  */
    background: linear-gradient(90deg,rgb(170, 153, 2),rgb(250, 192, 2),rgb(241, 245, 2));
    background-clip:border-box;
    font-weight: normal;
    border-right:  3px solid black;
    border-left:   3px solid black;
    float:none;
  }
  
  #texting {
    border-top: 2px solid black;
    float:none;
  }
  #image {
    border-bottom: 2px solid black;
    font-size: small;
    float:none;
  }
  
  #outer_footer:hover #texting{
    color:gold;
    /* background:indigo; */
    background: linear-gradient(90deg,rgb(65, 7, 107),rgb(112, 16, 180),rgb(171, 71, 243));
    float:none;
  }
  #outer_footer:hover #image{
    color:gold;
    /* background:indigo; */
    background: linear-gradient(90deg,rgb(65, 7, 107),rgb(112, 16, 180),rgb(171, 71, 243));
    float:none;
  }

  