body{
    background-color:purple;
}
h1{
    text-decoration:underline;
}
span{
    color:gold;
    text-decoration:bold ;
}
aside{
    color:white;
}
div{
    float:left;
}
#time{
    float:right;
    color:red;
    font-size:40px;
}
#title{
    text-align: center;
     font-size:18px;
}

#question{
    text-align: center;
   /* display: inline-block; */
    font-size:18px;
}
form{
    text-align:center;
}
p{
    background-color:gold;
    font-size: 80px;
    
}